body {
    margin: 0;
    margin-top: 50px;
    font-family: 'DM Sans', sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
}

header * {
    display: inline;
    height: 50px;
}

header a {
    text-decoration: none;
    color: black;
}

header li {
    margin-left: 20px;
}

ul {
   padding-inline-start:  20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

section h4 {
    font-size: 1em;
}

footer {
    text-align: center;
    padding: 50px;
}

#minehome {
    border: 1px solid black;
    height: 1000px;
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('images/minecraft-family-background.png');
}

#minehome .profile-img {
    width: 300px;
    border-radius: 50%;
}

#technicalities {
    border: 1px solid black;
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('images/morning-statue-background.png');
    padding-top: 50px;
    padding-bottom: 50px;
}

#technicalities-content {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
}

#technicalities .thumbnail-img {
    height: 100px;
    margin-top: 5px;
}

#rules {
    border: 1px solid black;
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('images/night-base-background.png');
    padding-top: 50px;
    padding-bottom: 50px;
}

#rules-content {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
}

#rules .thumbnail-img {
    height: 300px;
    margin-top: 5px;
}

#addons {
    border: 1px solid black;
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('images/avionpapilaps_base.png');
    padding-top: 50px;
    padding-bottom: 50px;
}

#addons-content {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
}

#addons .thumbnail-img {
    height: 100px;
    margin-top: 5px;
}